body {
    background-color: rgb(14, 72, 231);
    text-align: center;
    font-family: fantasy;
    color: rgb(197, 18, 18);
    font-size: 0.8cm;
}

h1 {
    font-size: 2.5cm;
    padding-bottom: 20px;
}

img {
    width: 40%;
    height: 50%;
}

main {
    display: flex;
}

div {
    width: 30%;
    height: 200px;
    padding-right: 100px;
    padding-left: 50px;
}

footer {
    margin-bottom: 50px;
}

a {
    padding: 15px;
    text-decoration: none;
    color: rgb(240, 130, 4);
    border: 4px solid rgb(240, 130, 4);
    border-radius: 20px;
}